.NavListItem{
    list-style: none;
    padding:34px 36px;
}

.InnerList{
    position:absolute;
    width:100vw;
    left:0;
    top:84px;
    background: rgba(0,0,0,0.3);
    height:0;
    overflow: hidden;
    text-align: center;
}
.Inner__Wrapper {
    margin:30px auto;
    width:900px;
    text-align: center;
    display: flex;
    color:rgba(255,255,255,0.6);
    flex-wrap: wrap;
    line-height: 50px;
}
.Inner__Wrapper span{
    width:200px;
}
.InnerList.hover{
    border-top: 1px solid rgba(83, 83, 83, 0.7);
    height:200px;
    transition : height 0.2s;
}
.InnerList.hover span:hover{
    color: white;
}