.Nav {
    position: absolute;
    top:0;
    left:0;
    width:100%;
}

.Nav__inner {
    display: flex;
    align-items: center;
    margin : 0 auto;
    background-color: rgba(0,0,0,0.3);
    justify-content: space-between;
    width:60%;
    box-sizing: border-box;
    flex-wrap: nowrap;
    min-width: 1140px;
}

.Nav__logo {
    cursor:pointer;
}