.MainView{
    position: absolute;
    top:0;
    left:0;
    min-width: 1300px;
}

.MainView__Wrapper{
    position: relative;    
    display: flex;
}
.MainView__video{
    width:100%;
}
.MainView__textWrapper{
    position: absolute;
    bottom:30%;
    left:50%;
    transform: translateX(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.MainView__description {  
    color: white;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: -3px;

}

.MainView__detail {
    margin-top: 30px;
    border:1px solid white;
    border-radius: 25px;
    width:130px;
    height:50px;
    line-height: 50px;
    text-align: center;
    color:white;
    font-weight: bold;
}
.MainView__detail:hover{
    background-color: rgb(11,214,134);
    border:1px solid rgb(11,214,134);
}
